.word-info-container {
    width: 75%;
    margin: 2rem auto;
}

.info-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.info-title h2 {
    width: 40%;
}

.line {
    width: 60%;
    background-color: rgb(201, 201, 201);
    height: 1px;
    margin-left: 0.500rem;
}

.example {
    font-weight: 700;
    margin-bottom: 1rem;
}

.definition {
    
    margin: 0.300rem 0;
}