* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
   padding-top: 2rem;  
   
}

.header-content-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    max-width: 650px;
    margin: 0 auto;
   
}

.logo-container {
    width: 35%;
    height: 100%;
}

.logo-container img {
    width: 50%;
    height: 100%;
    object-fit: contain;
}

.header-second-column {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}

.letter-type-container {
    position: relative;
    width: 70%;
}

.active-letter-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.letter-list-container {
    position: absolute;
   width: 100px;
    height: auto;
    transform: translateX(45%);
    right: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgb(202, 201, 201);
    border-top: 0;
    border-top: 0;
    max-height: 0;
    overflow: hidden;
 
    transition: max-height 150ms ease-in-out;
}

.list-active {
   
    max-height: 300px;
}

.letter-list {
    padding: 1rem 0;
    text-align: center;
}

.letter-option {
    cursor: pointer;
}

.mode-container {
    display: flex;
    align-items: center;
}

.mode-btn {
    width: 35px;
    height: 15px;
    background-color: rgb(119, 119, 119);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color 100ms ease-in-out;
    cursor: pointer;
    padding: 2px 0;
    padding-left: 3px;
    
}

.mode-toggle {
    width: 15px;
    height: 100%;
    border-radius: 10px;
    border: 1px solid rgb(166, 166, 166);
    background-color: white;
    transition: transform 100ms ease-in-out;
    
}

.active {
    background-color: #AA77FF;
}

.right {
    transform: translateX(100%);
} 

.bx-moon {
    margin-left: 10px;
    transition: color 150ms;
}

.moon-dark {
    color: #AA77FF;
}

@media (min-width: 768px) {
    .header-content-container {
        border: 1px solid rgb(166, 166, 166);
        border-bottom: 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
}