* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body-dark {
    background-color: #020012;
    transition: background-color 150ms ease-in-out;
}


.header {
    padding: 2rem 1rem;
}

.header-content-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    max-width: 650px;
    margin: 0 auto;
}

.logo-container {
    width: 35%;
    height: 100%;
}

.logo-container img {
    width: 50%;
    height: 100%;
    object-fit: contain;
}

.header-second-column {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}

.letter-type-container {
    position: relative;
    width: 70%;
}

.active-letter-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.letter-list-container {
    position: absolute;
   width: 100px;
    height: auto;
    transform: translateX(45%);
    right: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgb(166, 166, 166);
    border-top: 0;
    border-top: 0;
    max-height: 0;
    overflow: hidden;
 
    transition: max-height 150ms ease-in-out;
}

.list-active {
   
    max-height: 300px;
}

.letter-list {
    padding: 1rem 0;
    text-align: center;
}

.mode-container {
    display: flex;
    align-items: center;
}

.mode-btn {
    width: 40px;
    height: 15px;
    background-color: rgb(166, 166, 166);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color 100ms ease-in-out;
    cursor: pointer;
}

.mode-toggle {
    width: 20px;
    height: calc(100% + 3px);
    border-radius: 10px;
    border: 1px solid rgb(166, 166, 166);
    background-color: white;
    transition: transform 100ms ease-in-out;
    
}

.active {
    background-color: #AA77FF;
}

.right {
    transform: translateX(100%);
} 

.bx-moon {
    margin-left: 10px;
    transition: color 150ms;
}

.moon-dark {
    color: #AA77FF;
}