.header {
    padding: 2rem 1rem;
}

.header-content-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    padding: 1rem;
}

.logo-container {
    width: 60%;
    height: 100%;
}

.logo-container img {
    width: 50%;
    height: 100%;
    object-fit: contain;
}

.header-second-column {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.letter-type-container {
    display: flex;
    align-items: center;
}

.mode-container {
    display: flex;
    align-items: center;
}

.mode-btn {
    width: 50px;
    height: 15px;
    background-color: grey;
    border-radius: 10px;
   
}

.mode-toggle {
    width: 30%;
    height: calc(100% - 2px);
    border-radius: 35%;
    border: 1px solid rgb(83, 83, 83);
    background-color: white;
    transition: translate 100ms ease-in-out;
} 

.right {
    transform: translateX(100%);
}