.word-content-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 2rem auto;
    background-color: #97DEFF;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.word {
    font-size: 2rem;
    transition: color 150ms;
}

.word-light {
    color: black;
}

.word-dark {
    color: white;
}

.pronunciation {
    margin-top: 0.500rem;
    color: #AA77FF;
}

.bx-play-circle {
    color: #AA77FF;
    font-size: 3rem;
    cursor: pointer;
}