.word-content-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 2rem auto;

}

.word {
    font-size: 2rem;
    transition: color 150ms;
}

.word-dark {
    color: white;
}

.pronunciation {
    color: #AA77FF;
}

.bx-play-circle {
    color: #AA77FF;
    font-size: 3rem;
}